@{
    ViewData["Title"] = "Claim";
}

@model List<ClaimSystem.Models.Claims>

<div class="text-center">
    <h1 class="display-4">Claims</h1>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lecturer Name</th>
                <th>Claim Name</th>
                <th>Status</th>
                <th>Date Submitted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model)
            {
                <tr>
                    <td>@claim.Id</td>
                    <td>@claim.LecturerName</td>
                    <td>@claim.LecturerName</td>
                    <td>@claim.Status</td>
                    <td>@claim.DateSubmitted.ToString("MM/dd/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="card">
    <div class="card-body text-center">
        <form asp-controller="Lecturer" asp-action="LecturerDash" method="post" style="display:inline;">
            <button type="submit" class="btn btn-secondary">Back</button>
        </form>
    </div>
</div>
